{% comment %}
  Algolia Mobile Facets
  Usage: render 'algolia-mobile-facets', results: results, filter_type: 'drawer', enable_filtering: true, enable_sorting: true
{% endcomment %}

<facet-filters-form>
  <form id="FacetFiltersFormMobile" class="mobile-facets">
    <div class="mobile-facets__inner gradient">
      <div class="mobile-facets__header">
        <div class="mobile-facets__header-inner">
          <h2 class="mobile-facets__heading medium-hide large-up-hide">
            {% if enable_filtering and enable_sorting %}
              {{ 'products.facets.filter_and_sort' | t }}
            {% elsif enable_filtering %}
              {{ 'products.facets.filter_button' | t }}
            {% elsif enable_sorting %}
              {{ 'products.facets.sort_button' | t }}
            {% endif %}
          </h2>
          <p class="mobile-facets__count">
            {% if results.results_count %}
              {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
            {% elsif results.products_count == results.all_products_count %}
              {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
            {% else %}
              {{ 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count }}
            {% endif %}
          </p>
        </div>
      </div>

      <div id="FacetsWrapperMobile" class="mobile-facets__main has-submenu gradient">
        {% if enable_filtering %}
          {% for filter in results.filters %}
            {% assign presentation = filter.presentation | default: 'text' %}
            {% if presentation == 'image' %}
              {% assign visual_layout_class = 'facets-layout facets-layout-grid facets-layout-grid--' | append: presentation %}
            {% else %}
              {% assign visual_layout_class = 'facets-layout facets-layout-list facets-layout-list--' | append: presentation %}
            {% endif %}

            {% case filter.type %}
              {% when 'boolean', 'list' %}
                <details id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}" class="mobile-facets__details js-filter" data-index="mobile-{{ forloop.index }}">
                  <summary class="mobile-facets__summary focus-inset">
                    <div>
                      <span>{{ filter.label | escape }}</span>
                      <span class="mobile-facets__arrow">{{ 'icon-arrow.svg' | inline_asset_content }}</span>
                    </div>
                  </summary>

                  <div id="FacetMobile-{{ forloop.index }}-{{ section.id }}" class="mobile-facets__submenu gradient">
                    <button class="mobile-facets__close-button link link--text focus-inset" type="button">
                      {{ 'icon-arrow.svg' | inline_asset_content }}
                      <span>{{ filter.label | escape }}</span>
                    </button>

                    {% assign sorted_values = filter.values %}
                    {% if filter.operator == 'AND' %}
                      {% assign active_filter_values = filter.values | where: 'active', true %}
                      {% assign inactive_filter_values = filter.values | where: 'active', false %}
                      {% assign sorted_values = active_filter_values | concat: inactive_filter_values %}
                    {% endif %}

                    <ul class="{{ visual_layout_class }} mobile-facets__list list-unstyled" role="list">
                      {% for value in sorted_values %}
                        {% assign input_id = 'Filter-' | append: filter.param_name | escape | append: '-mobile-' | append: forloop.index %}
                        {% assign is_disabled = false %}
                        {% if value.count == 0 and value.active == false %}
                          {% assign is_disabled = true %}
                        {% endif %}
                        {% capture label_class %}facets__label mobile-facets__label{% if is_disabled %} disabled{% endif %}{% if value.active %} active{% endif %}{% endcapture %}
                        {% capture text_value %}
                          <span class="facet-checkbox__text" aria-hidden="true">
                            <span class="facet-checkbox__text-label">{{ value.label | escape }}</span> ({{ value.count }})
                          </span>
                          <span class="visually-hidden">{{ value.label | escape }} ({{ value.count }})</span>
                        {% endcapture %}

                        <li class="mobile-facets__item list-menu__item">
                          <label for="{{ input_id }}" class="{{ label_class }}">
                            <input class="mobile-facets__checkbox" type="checkbox"
                                   name="{{ value.param_name }}"
                                   value="{{ value.value }}"
                                   id="{{ input_id }}"
                                   {% if value.active %}checked{% endif %}
                                   {% if is_disabled %}disabled{% endif %}>
                            {{ text_value }}
                          </label>
                        </li>
                      {% endfor %}
                    </ul>

                    <div class="mobile-facets__footer gradient">
                      <facet-remove class="mobile-facets__clear-wrapper">
                        <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
                          {{ 'products.facets.clear' | t }}
                        </a>
                      </facet-remove>
                      <button type="button" class="button button--primary"
                              onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">
                        {{ 'products.facets.apply' | t }}
                      </button>
                    </div>
                  </div>
                </details>

              {% when 'price_range' %}
                {% assign min = filter.min_value.value %}
                {% assign max = filter.max_value.value %}
                <details id="Details-Mobile-{{ filter.param_name | escape }}-{{ section.id }}" class="mobile-facets__details js-filter" data-index="mobile-{{ forloop.index }}">
                  <summary class="mobile-facets__summary focus-inset">
                    <div>
                      <span>{{ filter.label | escape }}</span>
                      <span class="mobile-facets__arrow">{{ 'icon-arrow.svg' | inline_asset_content }}</span>
                    </div>
                  </summary>
                  <div id="FacetMobile-{{ forloop.index }}-{{ section.id }}" class="mobile-facets__submenu gradient">
                    <p class="mobile-facets__info">{{ 'products.facets.max_price' | t: price: max | default: filter.range_max }}</p>
                    <price-range class="facets__price">
                      {% render 'price-facet', filter: filter, id_prefix: 'Mobile-Filter-' %}
                    </price-range>

                    <div class="mobile-facets__footer">
                      <facet-remove class="mobile-facets__clear-wrapper">
                        <a href="{{ filter.url_to_remove }}" class="mobile-facets__clear underlined-link">
                          {{ 'products.facets.clear' | t }}
                        </a>
                      </facet-remove>
                      <button type="button" class="button button--primary"
                              onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">
                        {{ 'products.facets.apply' | t }}
                      </button>
                    </div>
                  </div>
                </details>
            {% endcase %}
          {% endfor %}
        {% endif %}

        {% if enable_sorting %}
          <div id="Details-Mobile-SortBy-{{ section.id }}" class="mobile-facets__details js-filter">
            <div class="mobile-facets__summary">
              <label for="SortBy-mobile">{{ 'products.facets.sort_by_label' | t }}</label>
              <div class="select">
                <select name="sort_by" class="select__select" id="SortBy-mobile">
                  {% assign sort_by = results.sort_by | default: results.default_sort_by %}
                  {% for option in results.sort_options %}
                    <option value="{{ option.value | escape }}" {% if option.value == sort_by %}selected{% endif %}>
                      {{ option.name | escape }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </form>
</facet-filters-form>
