   <table class="feature-table orders-list_data">
      <thead>
        <tr>
          <th>Order</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
          <tr>
            <td><a href="{{ order.customer_order_url }}">Order {{ order.name }}</a> ({{ order.item_count }} items)</td>
            <td>{{ order.financial_status_label }}</td>
            <td>{{ order.created_at | date: "%b %d" }}</td>
          </tr>
          {% if forloop.index == 2 %}
            {% break %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
