

         {% assign domain = shop.url | downcase %}
                  {% assign erp_id_key = '' %}
            {% if domain contains 'marlinn' or domain contains 'fiveguys' or domain contains 'demo' %}
                    {% assign erp_id_key = '1_erp_id_marlinn_ipics' %}
                  {% elsif domain contains 'ab' %}
                    {% assign erp_id_key = '1_erp_id_adams_burch_sx' %}
                  {% elsif domain contains 'sskemp' %}
                    {% assign erp_id_key = '1_erp_id_sskemp_jde' %}
                  {% elsif domain contains 'rwsmith' %}
                    {% assign erp_id_key = '1_erp_id_rwsmith_sx' %}
                  {% else %}
                  {% assign erp_id_key = '' %}

          {% endif %}
          
<div class="product-details-flex">
  <div class="product-tabs">
    <div class="tab-buttons">
      <button class="tab-button active" data-tab="description">Description</button>
      <button class="tab-button" data-tab="specifications">Specifications</button>

      {% if product.metafields.custom["4_spec_sheet"] 
        or product.metafields.custom["4_manual_sheet"] 
        or product.metafields.custom["4_warranty_sheet"] 
        or product.metafields.custom["4_sds_sheet"] 
        or product.metafields.custom["4_parts_list"] 
        or product.metafields.custom["4_service_manual"] 
        or product.metafields.custom["4_sds_sheets"] 
        or product.metafields.custom["4_product_video"] 
        or product.metafields.custom["4_product_doc"] 
        or product.metafields.custom["4_product_cad"] 
        or product.metafields.custom["4_owners_manual"] 
        or product.metafields.custom["4_installation_manual"] %}
        
        <button class="tab-button" data-tab="resources">Resources</button>
      {% endif %}
    </div>

    
      <div class="tab-content active" id="tab-description">
        {% if product.metafields.custom["8_description_web"] %}
          {{ product.metafields.custom["8_description_web"] | metafield_tag }}
        {% else %}
          {{ product.description }}
        {% endif %}
        
        {% render 'prop65-warning' %}
        {% render 'reeses-law-warning' %}
      </div>

<div class="tab-content" id="tab-specifications">
  <div class="spec-tables">
    
    <!-- Table 1: 7 fields -->
    <table class="spec-table spec-table--1">
      <tbody>
        {% if product.metafields.custom[erp_id_key] != blank %}
        <tr>
          <td class="spec-label">Item Number</td>
          <td>
            {{ product.metafields.custom[erp_id_key] }}
          </td>
        </tr>
        {% endif %}
        
        {% assign variant = product.selected_or_first_available_variant %}
        {% if variant.weight and variant.weight > 0 %}
          <tr>
            <td>Shipping Weight</td>
            <td>{{ variant.weight | weight_with_unit }}</td>
          </tr>
        {% endif %}
       
          <tr>
            <td class="spec-label">Product SKU</td>
            <td>{{ product.selected_or_first_available_variant.sku }}</td>
          </tr>
       

        {% if product.metafields.custom["1_erp_id_trmk_golden"] and product.metafields.custom["1_erp_id_trmk_golden"] != 'N/A' %}
          <tr>
            <td class="spec-label">Legacy ERP</td>
            <td>{{ product.metafields.custom["1_erp_id_trmk_golden"] }}</td>
          </tr>
        {% endif %}

        {% if product.metafields.custom["6_brand"] and product.metafields.custom["6_brand"] != 'N/A' %}
          <tr>
            <td class="spec-label">Brand</td>
            <td>{{ product.metafields.custom["6_brand"] }}</td>
          </tr>
        {% endif %}

        {% if product.metafields.custom["6_manufacturer_id"] and product.metafields.custom["6_manufacturer_id"] != 'N/A' %}
          <tr>
            <td class="spec-label">Manufacturer Number</td>
            <td>{{ product.metafields.custom["6_manufacturer_id"] }}</td>
          </tr>
        {% endif %}

        {% if product.metafields.custom["11_capacity_1"] and product.metafields.custom["11_capacity_1"] != 'N/A' %}
          {% assign capacity = product.metafields.custom["11_capacity_1"] %}
          <tr>
            <td class="spec-label">Capacity</td>
            <td>
              {{ capacity.value }}
              {% case capacity.unit %}
                {% when "us_fl_oz" %} fl oz
                {% when "ml" %} mL
                {% when "l" %} L
                {% when "qt" %} qt
                {% when "gal" %} gal
                {% else %} {{ capacity.unit }}
              {% endcase %}
            </td>
          </tr>
        {% endif %}

        {% if product.metafields.custom["12_color"] and product.metafields.custom["12_color"] != 'N/A'  %}
          <tr>
            <td class="spec-label">Color</td>
            <td>{{ product.metafields.custom["12_color"] }}</td>
          </tr>
        {% endif %}

        {% if product.metafields.custom["12_material"] and product.metafields.custom["12_material"] != 'N/A' %}
          <tr>
            <td class="spec-label">Material</td>
            <td>{{ product.metafields.custom["12_material"] }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    <!-- Table 2: 6 fields -->
    <table class="spec-table spec-table--2">
      <tbody>
        {% if product.metafields.custom["9_country_of_origin"] and  product.metafields.custom["9_country_of_origin"] != "N/A" %}
          <tr>
            <td class="spec-label">Country of Origin</td>
            <td>{{ product.metafields.custom["9_country_of_origin"] }}</td>
          </tr>
        {% endif %}

        {% render 'render-dimension', label: 'Length', field: product.metafields.custom["11_length"] %}
        {% render 'render-dimension', label: 'Width', field: product.metafields.custom["11_width"] %}
        {% render 'render-dimension', label: 'Height', field: product.metafields.custom["11_height"] %}
        {% render 'render-dimension', label: 'Depth', field: product.metafields.custom["11_depth"] %}
        {% render 'render-dimension', label: 'Diameter', field: product.metafields.custom["11_diameter"] %}
      </tbody>
    </table>

  </div>
</div>

  <div class="tab-content" id="tab-resources">
  <ul>
    {% if product.metafields.custom["4_spec_sheet"] %}
      <li>
        <i class="fas fa-file-pdf"></i>
        <a href="{{ product.metafields.custom["4_spec_sheet"] }}" target="_blank">
          Spec Sheet
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_manual_sheet"] %}
      <li>
        <i class="fas fa-book"></i>
        <a href="{{ product.metafields.custom["4_manual_sheet"] }}" target="_blank">
          Manual
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_warranty_sheet"] %}
      <li>
        <i class="fas fa-shield-alt"></i>
        <a href="{{ product.metafields.custom["4_warranty_sheet"] }}" target="_blank">
          Warranty
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_sds_sheet"] %}
      <li>
        <i class="fas fa-chart-pie"></i>
        <a href="{{ product.metafields.custom["4_sds_sheet"] }}" target="_blank">
          SDS
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_parts_list"] %}
      <li>
        <i class="fas fa-cogs"></i>
        <a href="{{ product.metafields.custom["4_parts_list"] }}" target="_blank">
          Parts List
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_service_manual"] %}
      <li>
        <i class="fas fa-tools"></i>
        <a href="{{ product.metafields.custom["4_service_manual"] }}" target="_blank">
          Service Manual
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_sds_sheets"] %}
      <li>
        <i class="fas fa-vial"></i>
        <a href="{{ product.metafields.custom["4_sds_sheets"] }}" target="_blank">
          SDS Sheets
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_product_video"] %}
      <li>
        <i class="fas fa-video"></i>
        <a href="{{ product.metafields.custom["4_product_video"] }}" target="_blank">
          Product Video
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_product_doc"] %}
      <li>
        <i class="fas fa-file-alt"></i>
        <a href="{{ product.metafields.custom["4_product_doc"] }}" target="_blank">
          Product Doc
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_product_cad"] %}
      <li>
        <i class="fas fa-drafting-compass"></i>
        <a href="{{ product.metafields.custom["4_product_cad"] }}" target="_blank">
          CAD File
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_owners_manual"] %}
      <li>
        <i class="fas fa-book-open"></i>
        <a href="{{ product.metafields.custom["4_owners_manual"] }}" target="_blank">
          Owner's Manual
        </a>
      </li>
    {% endif %}

    {% if product.metafields.custom["4_installation_manual"] %}
      <li>
        <i class="fas fa-wrench"></i>
        <a href="{{ product.metafields.custom["4_installation_manual"] }}" target="_blank">
          Installation Manual
        </a>
      </li>
    {% endif %}
  </ul>
</div>
  </div>
  
  {% assign standards = product.metafields.custom.standards.value %}
   {% if standards != blank %}
   <div class="product-standards">
    <h3>Certifications</h3>
    {% render 'product-standards' %}
  </div>
{% endif %}
 
</div>

