{% comment %}
    Renders a stock level indicator including a message and optional stock count. 


    
    Accepts:
    - block_attributes: {Object} block's shopify attributes,
    - stock_product: {Object} product Liquid object
    - stock_variant: {Object} variant Liquid object
    - stock_scope_id: {String} limits variant change interaction to components with a matching scope id, eg. section.id (optional)
    - stock_style: {String} Accepts 'classic' or 'bar'
    - stock_bar_color: {String} Accepts 'text' or 'standard'
    - stock_amt: {Number} the number at which to display a low stock warning
    - stock_notice: {String} Accepts 'always' (to always display the element) or 'below-stock-range' (to display it only for out-of-stock and low-stock variants)
    - show_stock_count: {Boolean} Display stock count or not
    - preorder_message: {String} Custom message.
    - in_stock_message: {String} Custom message.
    - low_stock_message: {String} Custom message.
    - out_of_stock_message: {String} Custom message.
    - classes: {String} custom classes to be applied to the stock level indicator component (optional)

    Usage:
    {% render 'stock-level-indicator' with block_attributes: block.shopify_attributes, stock_variant: current_variant, stock_amt: block.settings.stock_range %}
{% endcomment %}
{% assign sales_order = shop.metafields.custom.allow_sales_order | default: false %}
{%- liquid
  assign inventory_variant = stock_variant
  assign preorder_string = 'products.product.preorder_today' | t
  assign low_stock_string = 'products.product.low_stock' | t
  assign in_stock_string = 'products.product.in_stock' | t
  assign out_of_stock_string = 'products.product.out_of_stock' | t

  assign animate_pulsing_dot = false
  if stock_style == 'classic'
    assign animate_pulsing_dot = true
  endif

  assign bar_color = 'var(--text-color)'

  if stock_indicator_animation
    assign classes = classes | prepend: 'stock-indicator-animations '
  endif

  assign preorder = 'products.product.preorder' | t | downcase
  assign preorder_product = false
  for tag in product.tags
    assign lowercase_tag = tag | downcase
    if lowercase_tag contains preorder
      assign preorder_product = true
    endif
  endfor
-%}

{% if inventory_variant.inventory_policy != 'continue' %}
  <stock-level-indicator
    {{ block_attributes }} 
    data-flow-product-id="{{ stock_product.id }}"
    data-flow-variant-id="{{ stock_variant.id }}"
    {% if stock_scope_id %}data-flow-scope-id="{{ stock_scope_id }}"{% endif %}
    {% if classes %}class="{{ classes }}"{% endif %}
  >
    <div
      class="stock-indicator-wrapper"
      data-flow-selector="stock-level-indicator" data-variant-id="{{ inventory_variant.id }}"
    >
      {% if inventory_variant.available == false %}
        <span class="stock-level-message">
          {% render 'icon-dot' with class: 'error', dot_pulsing: animate_pulsing_dot %}
           {% if sales_order %}
             <p class="level-indicator-message">{{ inventory_variant.inventory_quantity }} Out of stock</p>
           {% else %}
          <p class="level-indicator-message">{{ out_of_stock_message | default: out_of_stock_string }}</p>
           {% endif %}
        </span>
      {% elsif inventory_variant.inventory_quantity <= stock_amt %}
        <span class="stock-level-message">
          {% render 'icon-dot' with class: 'error', dot_pulsing: animate_pulsing_dot %}
          {% assign stock_count = '' %}
          {% if show_stock_count %}
            {% capture stock_count %}
              <span>&nbsp;-&nbsp;</span> <span data-flow-stock-count="variant_stock_count">{{ inventory_variant.inventory_quantity }}</span>&nbsp;left
            {% endcapture %}
          {% endif %}

          {% if preorder_product %}
            <p class="level-indicator-message">{{ preorder_message | default: preorder_string | append: stock_count }}</p>
          {% else %}
            {% if sales_order %}
              <p class="level-indicator-message">{{ inventory_variant.inventory_quantity }} On hand</p>
              {% else %}
                <p class="level-indicator-message">{{ in_stock_message | default: in_stock_string | append: stock_count }}</p>
              {% endif %}
    
          {% endif %}
        </span>
        {% liquid
          if stock_style == 'bar'
            if stock_bar_color != 'text'
              assign bar_color = 'var(--success-color)'
            endif
            render 'stock-indicator-bar' with expand: '75%', bar_color: bar_color
          endif 
        %}
      {% elsif inventory_variant.inventory_quantity <= high_stock_range %}
        <span class="stock-level-message">
          {% render 'icon-dot' with class: 'warning', dot_pulsing: animate_pulsing_dot %}
          {% assign stock_count = '' %}
          {% if show_stock_count %}
            {% capture stock_count %}
              <span>&nbsp;-&nbsp;</span><span data-flow-stock-count="variant_stock_count">{{ inventory_variant.inventory_quantity }}</span>&nbsp;left
            {% endcapture %}
          {% endif %}
          {% if preorder_product %}
            <p class="level-indicator-message">{{ preorder_message | default: preorder_string | append: stock_count }}</p>
          {% else %}
            {% if sales_order %}
              <p class="level-indicator-message">{{ inventory_variant.inventory_quantity }} On hand</p>
              {% else %}
                <p class="level-indicator-message">{{ medium_stock_message | default: in_stock_string | append: stock_count }}</p>
              {% endif %}
          {% endif %}
        </span>
        {% liquid
          if stock_style == 'bar'
            if stock_bar_color != 'text'
              assign bar_color = 'var(--warning-color)'
            endif
            render 'stock-indicator-bar' with expand: '50%', bar_color: bar_color
          endif 
        %}

      {% else %}
        <span class="stock-level-message">
          {% render 'icon-dot' with class: 'success', dot_pulsing: animate_pulsing_dot %}
          {% assign stock_count = '' %}
          {% if show_stock_count %}
            {% capture stock_count %}
              <span>&nbsp;-&nbsp;</span><span data-flow-stock-count="variant_stock_count">{{ inventory_variant.inventory_quantity }}</span>&nbsp;left
            {% endcapture %}
          {% endif %}
          {% if preorder_product %}
            <p class="level-indicator-message">{{ preorder_message | default: preorder_string | append: stock_count }}</p>
          {% else %}
            {% if sales_order %}
              <p class="level-indicator-message">{{ inventory_variant.inventory_quantity }} On hand</p>
              {% else %}
                <p class="level-indicator-message">{{ low_stock_message | default: in_stock_string | append: stock_count }}</p>
              {% endif %}
          {% endif %}
        </span>
        {% liquid
          if stock_style == 'bar'
            if stock_bar_color != 'text'
              assign bar_color = 'var(--warning-color)'
            endif
            render 'stock-indicator-bar' with expand: '50%', bar_color: bar_color
          endif 
        %}
      {% endif %}
    </div>
  </stock-level-indicator>

  <script src="{{ 'component-stock-level-indicator.js' | asset_url }}" defer="defer" type="module" data-internal-script data-flow-load-key="component-stock-level-indicator"></script>
{% endif %}
