{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div style="display: none;">
 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

  <!-- Add platform theme specific icons as symbols in this file and they'll be included in svg.ftl -->
<symbol id="stock-high" viewBox="0 0 7.7 22">
  <rect fill="#007f00" x="0" y="15.4" width="7.7" height="6.6"></rect>
  <rect fill="#007f00" x="0" y="0" width="7.7" height="7"></rect>
  <rect fill="#007f00" x="0" y="8" width="7.7" height="6.4"></rect>
</symbol>
<symbol id="stock-low" viewBox="0 0 7.7 22">
  <rect fill="#007f00" id="svg_1" height="6.6" width="7.7" y="15.4" x="0"></rect>
  <rect fill="#b2b2b2" id="svg_2" height="7" width="7.7" y="0" x="0"></rect>
  <rect fill="#b2b2b2" id="svg_3" height="6.4" width="7.7" y="8" x="0"></rect>
</symbol>
<symbol id="stock-medium" viewBox="0 0 7.7 22">
  <rect fill="#007f00" id="svg_1" height="6.6" width="7.7" y="15.4" x="0"></rect>
  <rect fill="#b2b2b2" id="svg_2" height="7" width="7.7" y="0" x="0"></rect>
  <rect fill="#007f00" id="svg_3" height="6.4" width="7.7" y="8" x="0"></rect>
</symbol>
<symbol id="stock-null" viewBox="0 0 7.7 22">
  <path d="M 0 0 L 0 22 L 7.7 22 L 7.7 0 Z M 1 14.4 L 1 8 L 6.7 8 L 6.7 14.4 Z M 6.7 1 L 6.7 7 L 1 7 L 1 1 Z M 1.0237 15.4208 L 6.75543 15.4208 L 6.75543 20.9827 L 1.0236999999999998 20.9827 Z" fill="#cccccc"></path>
</symbol>
<symbol id="approved" viewBox="0 0 22 22">
  <circle fill="#55910b" class="cls-1" cx="11" cy="11" r="11"></circle>
  <path fill="#fff" class="cls-2" d="M17,8.9l-6.69,7a.43.43,0,0,1-.28-.1l-3.94-4a.39.39,0,0,1,.09-.3L7.67,10a.16.16,0,0,1,.27,0l2.3,2.29,5-5.29a.16.16,0,0,1,.27,0L17,8.5c.09.1.09.1.09.2A.33.33,0,0,1,17,8.9Z"></path>
</symbol>
<symbol id="cancelled" viewBox="0 0 22 22">
  <circle fill="#d0021b" cx="11" cy="11" r="11"></circle>
  <path fill="#fff" d="M11,14.8A3.74,3.74,0,0,0,13.27,14L8,8.73A3.74,3.74,0,0,0,7.2,11,3.8,3.8,0,0,0,11,14.8M14.8,11A3.8,3.8,0,0,0,11,7.2,3.74,3.74,0,0,0,8.73,8L14,13.27A3.74,3.74,0,0,0,14.8,11M11,6.11A4.89,4.89,0,1,1,6.11,11,4.89,4.89,0,0,1,11,6.11"></path>
</symbol>
<symbol id="rejected" viewBox="0 0 22 22">
  <circle fill="#d0021b" cx="11" cy="11" r="11"></circle>
  <polygon fill="#fff" points="15.89 14.49 12.3 11 15.89 7.51 14.59 6.25 11 9.73 7.42 6.25 6.11 7.51 9.7 11 6.11 14.49 7.42 15.75 11 12.27 14.59 15.75 15.89 14.49"></polygon>
</symbol>
<symbol id="sent" viewBox="0 0 22 22">
  <circle fill="#9013fe" cx="11" cy="11" r="11"></circle>
  <polygon fill="#fff" points="11 14 11 10 11 6 17 10 11 14"></polygon>
  <path fill="#fff" class="cls-3" d="M12,12a2.92,2.92,0,0,0-.84-.14,5.13,5.13,0,0,0-1,0,4.66,4.66,0,0,0-1.85.55,3.88,3.88,0,0,0-1.49,1.42A6.69,6.69,0,0,0,6,16a7.19,7.19,0,0,1-.08-2.5A5.52,5.52,0,0,1,7,11,7.44,7.44,0,0,1,9.16,9.05a10,10,0,0,1,1.32-.63A7.34,7.34,0,0,1,12,8Z"></path>
</symbol>
<symbol id="green-indicator" viewBox="0 0 22 22">
  <circle cx="10" cy="10" r="10" fill="#178541"></circle>
</symbol>
<symbol id="new-document" viewBox="0 0 18 18">
  <path d="M9.5.5h7v11.77c0 2.888-2.28 5.23-5.09 5.23H2.5V7.692M2 3.5h7M5.5 0v7" stroke="currentColor" fill="none" fill-rule="evenodd" vector-effect="non-scaling-stroke"></path>
</symbol>
<symbol id="document" viewBox="0 0 18 18">
  <path d="M1.5.5h14v11.77c0 2.888-2.28 5.23-5.09 5.23H1.5V.5zm2.5 8h6m-6-3h9" stroke="currentColor" fill="none" fill-rule="evenodd" vector-effect="non-scaling-stroke"></path>
</symbol>
<symbol id="search-folder" viewBox="0 0 18 18">
  <path d="M17.5 16.5l-3-3m-4.34 0H.5v-12h4.508L8 3.5h6.5v5m1.5 2.75a3.25 3.25 0 11-6.499.001A3.25 3.25 0 0116 11.25z" stroke="currentColor" fill="none" fill-rule="evenodd" vector-effect="non-scaling-stroke"></path>
</symbol>
<symbol id="error" viewBox="0 0 12 12">
  <path d="M12,10.4L7.6,6L12,1.6L10.4,0L6,4.4L1.6,0L0,1.6L4.4,6L0,10.4L1.6,12L6,7.6l4.4,4.4L12,10.4z" fill="red"></path>
</symbol>
<symbol id="kebab" viewBox="0 0 12 12">
  <path d="M5 3c0 .5.5 1 1 1 .6 0 1-.5 1-1 0-.6-.4-1-1-1-.5 0-1 .4-1 1zM5 6c0 .5.5 1 1 1 .6 0 1-.5 1-1 0-.6-.4-1-1-1-.5 0-1 .4-1 1zM5 9c0 .5.5 1 1 1 .6 0 1-.5 1-1 0-.6-.4-1-1-1-.5 0-1 .4-1 1z"></path>
</symbol>
<symbol id="copy-item" focusable="false" viewBox="0 0 18 18">
  <path d="M13 11.5h2.5v-9h-10V4m-3 3V5.5H4m1 0h2m.941 0h2.118M12.5 7V5.5H11m-3 10h2m2.5-2.5v-2m0-1V8m0 5.94v1.56H11m-4.5-.032a4.298 4.298 0 01-2.118-.866M3.5 13.94c-.5-.52-1-1.04-1-2.53m0-1.41V8" stroke="currentColor" vector-effect="non-scaling-stroke" fill="transparent"></path>
</symbol>
<symbol id="edit-item" focusable="false" viewBox="0 0 18 18">
  <path d="M10.716 4.675L13.5 7.5m-5.5 8h7m-12.5 0v-3L13 2l3 3L5.5 15.5h-3z" stroke="currentColor" vector-effect="non-scaling-stroke" fill="transparent"></path>
</symbol>
<symbol id="budget" viewBox="0 0 80 80" fill="none">
  <path d="M66 23H6c-1.3 0-2.5.35-3 1.85V76a2 2 0 0 0 2 2h56c2.21 0 4-1.79 4-4h1c2.21 0 4-1.79 4-4V27c0-2.21-1.79-4-4-4z" fill="#C5C5C9" opacity=".5"></path>
  <path d="M8.504 20.5c-1.71 0-3.09 1.43-3 3.16.08 1.62 1.54 2.84 3.17 2.84h54.83c2.21 0 4 1.79 4 4v41h1c2.21 0 4-1.79 4-4v-43c0-2.21-1.79-4-4-4h-60z" fill="#A1E4BF"></path>
  <path d="M8.504 20.5c-1.71 0-3.09 1.43-3 3.16.08 1.62 1.54 2.84 3.17 2.84h54.83c2.21 0 4 1.79 4 4v41h1c2.21 0 4-1.79 4-4v-43c0-2.21-1.79-4-4-4h-60z" stroke="#6F6F76" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></path>
  <path fill="#fff" stroke="#6F6F76" stroke-dasharray="2 2" stroke-miterlimit="10" d="m54.948 3.183-46.765 27 15 25.98 46.765-27z" vector-effect="non-scaling-stroke"></path>
  <path d="M48.26 31.052a8.194 8.194 0 0 0-.558-2.08l-.461.192a7.834 7.834 0 0 0-.45-.91l-.559-.967.433-.25-1.117-1.936-.433.25-.56-.968a7.844 7.844 0 0 0-.562-.845l.397-.303a8.193 8.193 0 0 0-1.522-1.524l-.305.397a7.745 7.745 0 0 0-1.753-1.01l.191-.462a8.297 8.297 0 0 0-2.08-.558l-.066.496a7.742 7.742 0 0 0-2.023-.002l-.065-.496a8.196 8.196 0 0 0-2.08.559l.192.462a7.834 7.834 0 0 0-1.754 1.012l-.304-.397a8.187 8.187 0 0 0-1.524 1.522l.397.305a7.736 7.736 0 0 0-1.01 1.753l-.462-.191a8.297 8.297 0 0 0-.558 2.08l.496.066a7.742 7.742 0 0 0-.002 2.023l-.495.065c.092.703.276 1.402.558 2.08l.462-.192c.128.309.278.612.45.91l.558.968-.433.25 1.118 1.936.433-.25.559.968c.171.297.36.579.563.844l-.397.304a8.16 8.16 0 0 0 1.522 1.523l.304-.396a7.747 7.747 0 0 0 1.753 1.01l-.191.462a8.297 8.297 0 0 0 2.08.557l.066-.495a7.74 7.74 0 0 0 2.023.001l.065.496a8.196 8.196 0 0 0 2.08-.558l-.192-.462a7.835 7.835 0 0 0 1.755-1.013l.304.397a8.193 8.193 0 0 0 1.523-1.522l-.396-.304a7.739 7.739 0 0 0 1.01-1.753l.462.19a8.297 8.297 0 0 0 .557-2.08l-.495-.065a7.74 7.74 0 0 0 .001-2.023l.496-.066zm11.155-18.97c.2-.118.362-.227.488-.318l-.236-.408.433-.25-.903-1.565-.433.25-.904-1.564.433-.25-.903-1.565-.433.25-.904-1.565.433-.25-.903-1.565-.433.25-.202-.349-.353.204-.25-.433-1.571.907.25.433-1.572.908-.25-.433-1.572.907.25.433-1.572.908-.25-.433-1.572.907.25.433-.412.238c.067.153.16.346.281.567l-.438.24a9.111 9.111 0 0 0 1.322 1.822l.365-.34c.438.468.977.94 1.633 1.358l-.269.421a9.287 9.287 0 0 0 2.031.97l.16-.474c.326.11.67.207 1.036.287.353.077.694.136 1.024.179l-.064.496c.779.1 1.5.114 2.16.068l-.035-.499a9.28 9.28 0 0 0 2.018-.363l.143.479a8.857 8.857 0 0 0 1.98-.86l-.256-.43zm.798-.561zM17.131 25.683a6.559 6.559 0 0 0-.316-.484l-.413.239-.25-.433-1.573.908.25.433-1.573.908-.25-.433-1.573.908.25.433-1.573.909-.25-.433-1.573.908.25.433-.354.204.201.349-.433.25.903 1.563.433-.25.903 1.564-.433.25.902 1.563.433-.25.903 1.563-.433.25.903 1.564.433-.25.235.408a7.82 7.82 0 0 0 .57-.284l.24.438a9.252 9.252 0 0 0 1.831-1.324l-.34-.366a8.578 8.578 0 0 0 1.371-1.634l.42.271c.379-.585.718-1.26.984-2.032l-.472-.163c.112-.326.21-.672.293-1.038.08-.35.14-.69.184-1.019l.495.067c.105-.776.122-1.494.08-2.152l-.5.032a9.153 9.153 0 0 0-.353-2.01l.48-.141a8.717 8.717 0 0 0-.855-1.974l-.43.255zm1.585 21.581c-.2.119-.362.228-.488.318l.236.409-.433.25.904 1.564.433-.25.903 1.565-.433.25.903 1.565.433-.25.904 1.565-.433.25.903 1.564.433-.25.202.35.353-.204.25.433 1.572-.907-.25-.433 1.572-.908.25.433 1.571-.908-.25-.433 1.572-.907.25.433 1.572-.907-.25-.434.413-.238a7.434 7.434 0 0 0-.282-.566l.438-.24a9.116 9.116 0 0 0-1.322-1.823l-.365.342a8.469 8.469 0 0 0-1.633-1.36l.27-.42a9.289 9.289 0 0 0-2.032-.97l-.16.474a9.791 9.791 0 0 0-1.036-.287 11.865 11.865 0 0 0-1.024-.179l.064-.496c-.778-.1-1.5-.114-2.16-.068l.035.498c-.76.053-1.434.19-2.017.364l-.143-.48a8.853 8.853 0 0 0-1.98.861l.255.43zM61 33.664c.117.197.226.359.316.484l.413-.239.25.433 1.573-.908-.25-.433 1.573-.908.25.433 1.573-.909-.25-.433 1.574-.908.25.433 1.573-.908-.25-.433.353-.204-.201-.349.433-.25-.903-1.563-.433.25-.902-1.564.433-.25-.903-1.563-.433.25-.903-1.564.433-.25-.902-1.563-.433.25-.236-.408a7.586 7.586 0 0 0-.57.284l-.24-.439a9.26 9.26 0 0 0-1.83 1.324l.34.367a8.577 8.577 0 0 0-1.372 1.634l-.42-.272a9.339 9.339 0 0 0-.984 2.033l.473.163a9.777 9.777 0 0 0-.294 1.037c-.079.352-.14.691-.184 1.02l-.495-.067a10.848 10.848 0 0 0-.08 2.152l.5-.033c.049.758.182 1.43.353 2.01l-.479.142c.248.837.572 1.5.854 1.974l.43-.255z" fill="#FAFAFA" stroke="#6F6F76" stroke-dasharray="2 2" vector-effect="non-scaling-stroke"></path>
  <path d="M67.5 30.744v41c0 2.21-1.79 4-4 4h-58v-52c0 1.66 1.34 3 3 3h55c2.21 0 4 1.79 4 4z" fill="#CBEFDC"></path>
  <path d="M67.5 30.5v41c0 2.21-1.79 4-4 4h-58v-52c0 1.66 1.34 3 3 3h55c2.21 0 4 1.79 4 4z" stroke="#6F6F76" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></path>
  <path d="M72.5 39.5c2.21 0 4 1.79 4 4v7h-4v-11z" fill="#C2A1F1"></path>
  <path d="M72.5 39.5c2.21 0 4 1.79 4 4v7h-4v-11z" stroke="#6F6F76" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></path>
  <path d="M67 61H56c-1.66 0-3-1.34-3-3v-5c0-1.66 1.34-3 3-3h11v11z" fill="#A1E4BF"></path>
  <path d="M76.5 43.5v11c0 2.21-1.79 4-4 4h-15c-1.66 0-3-1.34-3-3v-5c0-1.66 1.34-3 3-3h15c2.21 0 4-1.79 4-4z" fill="#F1EBFC"></path>
  <path d="M76.5 43.5v11c0 2.21-1.79 4-4 4h-15c-1.66 0-3-1.34-3-3v-5c0-1.66 1.34-3 3-3h15c2.21 0 4-1.79 4-4z" stroke="#6F6F76" stroke-miterlimit="10" vector-effect="non-scaling-stroke"></path>
  <path d="M59.54 55.744a2.5 2.5 0 0 0 0-5 2.5 2.5 0 0 0 0 5z" fill="#C2A1F1"></path>
</symbol><!-- Add industry theme specific icons as symbols in this file and they'll be included in svg.ftl -->
<!-- Add customer theme specific icons as symbols in this file and they'll be included in svg.ftl -->
<!-- Add brand theme specific icons as symbols in this file and they'll be included in svg.ftl -->

  <symbol id="accessibility" viewBox="0 0 200 200">
    <ellipse cx="100" cy="100" rx="95" ry="95" fill="#39b54a"></ellipse>
    <text transform="matrix(.9727 0 0 1 50.906 147.196)" font-size="155.306" fill="#fff"> A </text>
  </symbol>
  <symbol id="address" viewBox="0 0 14 18">
    <path d="M1,16H0v2h14v-2h-1V0H1 M3,2h3v3H3V2z M3,7h3v3H3V7z M11,17H8v-5h3V17z M11,10H8V7h3V10z M11,5H8V2h3V5z"></path>
  </symbol>
  <symbol id="alert" viewBox="0 0 18 18">
    <path d="M9,0C4,0,0,4,0,9s4,9,9,9s9-4,9-9C18,4,14,0,9,0z M9.9,13.5l-2,0l0-2l2,0L9.9,13.5z M10,6l-0.6,4.7l-1,0L7.9,6l0-2.6l2.1,0 L10,6z"></path>
  </symbol>
  <symbol id="announcement" viewBox="0 5 18 13">
    <path d="M17.68 5.166c-.2-.16-.438-.2-.68-.14L2.818 8.563H.8c-.44 0-.8.34-.8.78v3.177c.02.438.36.798.8.798h2.036l1.58.4-.48 1.997c-.1.38.12.78.52.86l4.454 1.118c.06.02.12.02.2.02.12 0 .26-.04.38-.1.14-.1.26-.26.3-.44l.5-1.997 6.73 1.678c.06.02.12.02.2.02.18 0 .36-.06.48-.18.2-.14.3-.38.3-.62V5.767c-.02-.22-.14-.46-.32-.6zM8.55 16.134l-3.076-.78.32-1.298 3.077.78-.32 1.298z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="arrow-up-down" viewBox="0 0 25.9 16.3">
    <path d="M8.8,16.3V7.7h3.1L5.9,0L0,7.7h3.1v8.5H8.8z"></path>
    <path d="M17.1,0v8.5h-3.1l5.9,7.7l5.9-7.7h-3.1V0H17.1z"></path>
  </symbol>
  <symbol id="confirmed" viewBox="0 0 22 22">
    <circle stroke-width="1" cx="11" cy="11" r="10"></circle>
    <path fill="currentColor" d="M17,8.3c0,0,0,0.1-0.1,0.2l-7.3,7c-0.1,0.1-0.2,0.1-0.3,0l-4.3-4c-0.1-0.1-0.1-0.2,0-0.3l1.6-1.5 c0.1-0.1,0.2-0.1,0.3,0l2.5,2.3L15,6.6c0.1-0.1,0.2-0.1,0.3,0l1.6,1.5C17,8.2,17,8.2,17,8.3z"></path>
  </symbol>
  <symbol id="currency" viewBox="0 0 25 14.6">
    <path d="M10.9,5.4c0,0.3,0.1,0.6,0.4,0.8c0.1,0.1,0.3,0.2,0.6,0.3V4.4c-0.3,0-0.6,0.1-0.8,0.3 C11,4.9,10.9,5.1,10.9,5.4z"></path>
    <path d="M12.5,8.3v2.3c0.3,0,0.5-0.1,0.7-0.2c0.2-0.2,0.4-0.5,0.4-0.9c0-0.3-0.1-0.6-0.3-0.8 C13,8.5,12.8,8.4,12.5,8.3z"></path>
    <path d="M0,0v14.6h25V0H0z M14.1,11.4c-0.4,0.3-1,0.4-1.6,0.5V13h-0.6v-1.2c-0.8-0.1-1.3-0.3-1.7-0.5 c-0.7-0.4-1-1.2-1-2.3h1.6c0.1,0.5,0.1,0.8,0.2,1c0.2,0.3,0.5,0.4,0.9,0.5V8.1l-0.5-0.1C10.7,7.7,10.2,7.4,9.9,7 C9.6,6.6,9.4,6.1,9.4,5.6c0-0.4,0.1-0.7,0.2-1C9.7,4.3,9.9,4,10.1,3.8c0.3-0.3,0.6-0.5,0.9-0.6c0.2-0.1,0.5-0.1,0.9-0.1V2.3h0.6 v0.8c0.6,0.1,1.1,0.2,1.5,0.5c0.7,0.4,1,1.1,1,2h-1.5c0-0.3-0.1-0.6-0.2-0.8c-0.1-0.3-0.4-0.4-0.8-0.5v2.2C13.4,7,14,7.2,14.4,7.5 c0.5,0.4,0.8,1,0.8,1.7C15.1,10.2,14.8,10.9,14.1,11.4z"></path>
  </symbol>
  <symbol id="fee" viewBox="0 2 17 18">
    <path fill-rule="evenodd" d="M0 2v18l2.833-1.714L5.667 20 8.5 18.286 11.333 20l2.834-1.714L17 20V2l-2.833 1.714L11.333 2 8.5 3.714 5.667 2 2.833 3.714"></path>
    <g fill-rule="evenodd" fill="currentColor">
      <path d="M6.702 12.497c.054.354.16.62.318.794.29.32.785.48 1.487.48.42 0 .762-.042 1.025-.126.498-.16.746-.46.746-.9 0-.256-.123-.454-.37-.594-.247-.137-.635-.258-1.163-.363l-.903-.185c-.888-.182-1.5-.38-1.84-.594-.576-.358-.863-.917-.863-1.68 0-.693.277-1.27.832-1.73.556-.46 1.372-.69 2.45-.69.898 0 1.664.218 2.3.65.634.434.967 1.063.998 1.887h-1.714c-.03-.466-.254-.798-.67-.994-.28-.13-.624-.194-1.037-.194-.46 0-.827.084-1.1.253-.275.167-.412.402-.412.704 0 .277.135.484.406.62.173.092.544.2 1.11.322l1.47.32c.645.14 1.13.328 1.46.563.51.364.763.892.763 1.583 0 .71-.298 1.297-.894 1.765-.596.47-1.438.703-2.526.703-1.11 0-1.985-.23-2.622-.69C5.318 13.937 5 13.303 5 12.496h1.702z"></path>
      <path d="M8 6h1v10H8z"></path>
    </g>
  </symbol>
  <symbol id="feedback" viewBox="0 4 18 18">
    <path d="M0 4v14h10v4l4-4h4V4H0zm14 10H4v-2h10v2zm0-4H4V8h10v2z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="file-upload-spinner" viewBox="293 797 18 18">
    <path d="M304.611075 810.660657l-2.37815-2.061135-.060716-.04621c-.46612-.33582-1.17027-.032506-1.17027.49433l.0043 1.626448c-2.67206-.27591-4.895733-2.054687-5.777195-4.67409h-2.196538c.969583 3.828358 4.141075 6.548507 7.983135 6.842418l.004298 1.420925c0 .530866.70818.83633 1.175373.495403l.060717-.043253 2.36015-2.077792c.624357-.552088.620328-1.431402-.005105-1.977043zM303.053672 799.16403l-.0043-1.41797c-.00403-.530866-.704148-.83418-1.16597-.49406l-.060715.04406-2.341344 2.07779c-.620328.54994-.61603 1.431404.0043 1.977046l2.354775 2.061134.065015.04621c.46182.33582 1.160865.032506 1.160865-.49433l-.009403-1.63182c2.654866.274835 4.860806 2.048507 5.737165 4.66791h2.173432c-.96018-3.828358-4.103462-6.542328-7.91382-6.83597z"></path>
  </symbol>
  <symbol id="general-notification" viewBox="0 1 17 18">
    <path d="M6.098 16.685c0 1.17.95 2.12 2.12 2.12 1.17 0 2.12-.95 2.12-2.12h-4.24zM13.336 10.162v-2.34c0-2.433-1.7-4.47-3.975-4.988.05-.13.076-.272.076-.42 0-.673-.546-1.218-1.22-1.218C7.547 1.196 7 1.74 7 2.414c0 .148.026.29.074.42C4.8 3.354 3.1 5.39 3.1 7.822v2.34c0 2.013-1.163 3.753-2.852 4.59v1.16h15.938v-1.16c-1.688-.837-2.85-2.577-2.85-4.59z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="information" viewBox="0 0 18 18">
    <path d="M9 18c4.97 0 9-4.03 9-9s-4.03-9-9-9-9 4.03-9 9 4.03 9 9 9z" fill-rule="evenodd"></path>
    <text fill="currentColor" transform="matrix(-1 0 0 1 22.1 0)" font-size="14" font-weight="bold">
      <tspan x="11" y="14">i</tspan>
    </text>
  </symbol>
  <symbol id="price-change-arrow" viewBox="0 0 13 18">
    <path d="M9.7,18 L4,18 L4,8 L0.9,8 L7,0 L12.9,8 L9.8,8 C9.7,8 9.6,18 9.7,18 L9.7,18 Z"></path>
  </symbol>
  <symbol id="price-tag" viewBox="0 0 18 19">
    <path d="M10.1,0.4 L0.2,10.1 C0.1,10.2 0,10.4 0,10.6 C0,10.8 0.1,11 0.2,11.1 L7.3,18.2 C7.4,18.3 7.6,18.4 7.7,18.4 C7.9,18.4 8,18.3 8.1,18.2 L18,8.8 L18,0.4 L10.1,0.4 L10.1,0.4 Z M14.4,2.5 C15.2,2.5 15.9,3.2 15.9,4 C15.9,4.8 15.2,5.5 14.4,5.5 C13.6,5.5 12.9,4.8 12.9,4 C12.9,3.2 13.5,2.5 14.4,2.5 L14.4,2.5 Z"></path>
  </symbol>
  <symbol id="reminder" viewBox="0 2 16 18">
    <path fill-rule="evenodd" d="M.015 6.09H16v13.9l-8.042-3.692L0 20M0 2h16v2.455H0z"></path>
  </symbol>
  <symbol id="shipping" viewBox="0 0 29.9 19.7">
    <path d="M29.1,15V9.6l-1.8-4.9H20V0H0v14.1v0.3h0v3h5.5c0,0,0,0.1,0,0.1c0,1.2,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3 c0,0,0-0.1,0-0.1h9.8h0.4h1.5c0,0,0,0.1,0,0.1c0,1.2,1,2.3,2.3,2.3c1.2,0,2.3-1,2.3-2.3c0,0,0-0.1,0-0.1h2.9V17h0.8v-2H29.1z M21,9.6V6.2h5.4l1,2.7l0.2,0.6H21z"></path>
  </symbol>
  <symbol id="successful" viewBox="0 0 12 9">
    <path d="M12,1.8c0,0,0,0.1-0.1,0.2l-7.3,7C4.6,9,4.4,9,4.3,8.9l-4.3-4C0,4.8,0,4.7,0.1,4.6l1.6-1.5 C1.8,3,1.9,3,2,3.1l2.5,2.3L10,0.1c0.1-0.1,0.2-0.1,0.3,0l1.6,1.5C12,1.7,12,1.7,12,1.8z"></path>
  </symbol>
  <symbol id="unsuccessful" viewBox="0 0 12 12">
    <path d="M12,10.4L7.6,6L12,1.6L10.4,0L6,4.4L1.6,0L0,1.6L4.4,6L0,10.4L1.6,12L6,7.6l4.4,4.4L12,10.4z"></path>
  </symbol>
  <symbol id="warning" viewBox="0 3 18 17">
    <path d="M8.007 3.613L.317 17.465c-.64 1.167-.37 2.283 1.36 2.283h14.644c1.735 0 2.003-1.116 1.363-2.28L9.833 3.65c-.16-.31-.39-.655-.88-.65-.523.01-.782.302-.946.613zm-.02 4.435h1.8v6.3h-1.8v-6.3zm0 7.65h1.8v1.8h-1.8v-1.8z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="active" viewBox="0 0 17.2 17.2">
    <circle cx="8.6" cy="8.6" r="7.6"></circle>
    <path fill="currentColor" d="M8.6,1C4.4,1,1,4.4,1,8.6c0,4.2,3.4,7.6,7.6,7.6c4.2,0,7.6-3.4,7.6-7.6C16.2,4.4,12.8,1,8.6,1z M13.1,6.6 L7.6,12C7.5,12,7.4,12,7.3,12l-3.2-3C4,8.8,4,8.8,4.1,8.7l1.2-1.2c0.1-0.1,0.2-0.1,0.3,0l1.9,1.8l4.2-4.1c0.1-0.1,0.2-0.1,0.3,0 l1.2,1.2c0,0,0,0.1,0,0.1C13.2,6.6,13.1,6.6,13.1,6.6z"></path>
  </symbol>
  <symbol id="add-content" viewBox="0 0 18 18">
    <path d="M18 7.714h-7.714V0H7.714v7.714H0v2.572h7.714V18h2.572v-7.714H18"></path>
  </symbol>
  <symbol id="add" viewBox="0 0 14 14">
    <polygon points="14,6 8,6 8,0 6,0 6,6 0,6 0,8 6,8 6,14 8,14 8,8 14,8"></polygon>
  </symbol>
  <symbol id="align-center" viewBox="0 0 18 18">
    <path d="M3 13h12v2H3v-2zM0 3h18v2H0V3zm0 5h18v2H0V8z"></path>
  </symbol>
  <symbol id="align-left" viewBox="0 0 18 18">
    <path d="M0 3h18v2H0V3zm0 10h18v2H0v-2zm0-5h12v2H0V8z"></path>
  </symbol>
  <symbol id="align-right" viewBox="0 0 18 18">
    <path d="M18 3v2H0V3h18zm0 10v2H0v-2h18zm0-5v2H6V8h12z"></path>
  </symbol>
  <symbol id="bulk-edit" viewBox="0 0 23.2 16.4">
    <path d="M11.6,5v9.7l7.6-1.5V8.5c0-0.2,0.2-0.4,0.4-0.3l0.9,0.1c0.2,0,0.3,0.2,0.3,0.3v5.5c0,0.2-0.1,0.3-0.3,0.3 l-8.3,1.8c-0.4,0.1-0.8,0.1-1.2,0l-8.3-1.8c-0.1,0-0.3-0.2-0.3-0.3L2.3,8.7c0-0.2,0.1-0.3,0.3-0.3l7-0.6c0.1,0,0.2-0.1,0.3-0.2 l1.1-2.6C11.1,4.6,11.6,4.7,11.6,5z M2.2,1.9L0,6.6c-0.1,0.2,0.1,0.5,0.3,0.5l8.3-0.8c0.1,0,0.2-0.1,0.3-0.2L11.5,0L2.5,1.7 C2.4,1.7,2.3,1.8,2.2,1.9z M11.5,0l2.8,6.2c0,0.1,0.2,0.2,0.3,0.2l8.2,0.7c0.2,0,0.4-0.2,0.3-0.5L21,1.9c0-0.1-0.1-0.2-0.2-0.2 L11.5,0z"></path>
  </symbol>
  <symbol id="calendar" viewBox="0 0 19 18">
    <path d="M0,18h19V7H0V18z M15,2v2h-4V2H8v2H4V2H0v4h19V2H15z M7,0H5v3h2 V0z M14,0h-2v3h2V0z"></path>
  </symbol>
  <symbol id="call" viewBox="0 0 20.6 20.6">
    <path d="M20.4,17.3c-1.2,2.8-3.9,3.3-4.8,3.3c-0.3,0-4.4,0.2-10.3-5.4C0.6,10.8,0.1,5.9,0,5c0-0.9,0.2-3.1,3.3-4.8 C3.7,0,4.4-0.1,4.6,0.1c0.1,0.1,2.7,4.4,2.7,4.5C7.5,4.7,7.5,4.9,7.5,5c0,0.2-0.1,0.4-0.4,0.7C6.8,6,6.5,6.3,6.2,6.6 S5.5,7.1,5.3,7.3C5,7.6,4.8,7.8,4.8,8c0,0.5,0.4,2.1,3.2,4.6c2.8,2.5,4.2,3.2,4.3,3.2c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4-0.1,0.7-0.4 c0.3-0.3,1.2-1.5,1.5-1.8c0.3-0.3,0.5-0.4,0.7-0.4c0.1,0,0.3,0,0.4,0.1c0.1,0.1,4.4,2.6,4.5,2.7C20.8,16.2,20.6,16.9,20.4,17.3"></path>
  </symbol>
  <symbol id="cart" viewBox="0 0 20 17">
    <path d="M17,11l3-8H4L2.8,0L0,0v1h2l3.8,12.4c-0.8,0.2-1.5,0.9-1.5,1.8c0,1,0.8,1.8,1.8,1.8S8,16.2,8,15.2
	c0-0.2,0-0.4-0.1-0.6h5c-0.1,0.2-0.1,0.4-0.1,0.6c0,1,0.8,1.8,1.8,1.8c1,0,1.8-0.8,1.8-1.8c0-1-0.8-1.8-1.7-1.8c0,0-0.1,0-0.1,0
	l-7.5,0l-0.8-2.4L17,11z"></path>
  </symbol>
  <symbol id="click-to-collect" viewBox="0 0 24.5 21.8">
    <path d="M0,0v21.8h10.8v-3.9h2.8v3.9h10.9V0H0z M7.2,13.5H4.1v-3.1h3.1V13.5z M7.2,7.2H4.1V4.1h3.1V7.2z M13.8,13.5 h-3.1v-3.1h3.1V13.5z M13.8,7.2h-3.1V4.1h3.1V7.2z M20.4,13.5h-3.1v-3.1h3.1V13.5z M20.4,7.2h-3.1V4.1h3.1V7.2z"></path>
  </symbol>
  <symbol id="close" viewBox="0 0 12 12">
    <path d="M12,10.4L7.6,6L12,1.6L10.4,0L6,4.4L1.6,0L0,1.6L4.4,6L0,10.4L1.6,12L6,7.6l4.4,4.4L12,10.4z"></path>
  </symbol>
  <symbol id="default" viewBox="0 0 20 20">
    <path d="M9.6,1.2l2.6,5.6l5.9,0.9L13.9,12l1,6.1l-5.3-2.9l-5.3,2.9l1-6.1L1.1,7.7L7,6.8L9.6,1.2z"></path>
  </symbol>
  <symbol id="dislike" viewBox="0 0 17 14.4">
    <path d="M0,8.4h4v-8H0V8.4z M15.9,6.4c0,0,0.3-0.3,0.4-1c0-1-1.1-1.2-1.1-1.2s0.6-0.4,0.6-0.9 c0-1.1-1.3-1.2-1.3-1.2s0.5-0.4,0.5-1c0-1-0.8-1.1-0.8-1.1S8.8,0,8.4,0C7.9,0,5.5,1.2,5.5,1.2H5.2v6.6c0,0,1.1,0.1,1.4,0.2 c0.3,0,2.3,3.8,2.3,3.8v2.1c0,0,0.2,0.5,0.8,0.6c1.1,0,1.5-1.1,1.7-1.7c0.2-0.6,0.2-1.9-0.1-2.8c-0.3-0.9,0-1.3,0-1.3h4.9 c0,0,0.7-0.1,0.7-1.1C17,6.6,15.9,6.4,15.9,6.4z"></path>
  </symbol>
  <symbol id="download" viewBox="0 0 14 20.8">
    <rect x="0" y="18.8" width="14" height="2"></rect>
    <path d="M4.1,0v8.5H1.1L7,16.3l5.9-7.7H9.9V0H4.1z"></path>
  </symbol>
  <symbol id="edit" viewBox="0 0 18.8 18.8">
    <polygon points="0,18.8 4.1,18.1 0.7,14.7 "></polygon>
    <path d="M17.4,4.8l1-1c0.5-0.5,0.5-1.3,0-1.8l-1.7-1.7c-0.5-0.5-1.3-0.5-1.8,0l-1,1L17.4,4.8z"></path>
    <rect x="6.6" y="1.7" transform="matrix(0.707 0.7072 -0.7072 0.707 9.5652 -3.5088)" width="4.9" height="16.3"></rect>
  </symbol>
  <symbol id="external-link" viewBox="0 0 18 18">
    <path d="M14.4 18H14h.4zM0 15v1c0 1.1.9 2 2 2h1c-1.7 0-3-1.3-3-3zM0 4v-.4.4z"></path>
    <path d="M15.9 11.1l-.9-.9V15c0 .6-.4 1-1 1H3c-.6 0-1-.4-1-1V4c0-.6.4-1 1-1h4.8l-.9-.9L5.8 1H3C1.5 1 .2 2.1 0 3.6V15c0 1.7 1.3 3 3 3h11.4c1.5-.2 2.6-1.4 2.6-3v-2.8l-1.1-1.1z"></path>
    <path d="M14.6 5.6L18 9V1c0-.6-.4-1-1-1H9l3.4 3.4L9.9 6l-4.2 4.2c-.4.4-.4 1 0 1.4l.7.7c.4.4 1 .4 1.4 0L12 8.1l2.6-2.5z"></path>
  </symbol>
  <symbol id="favorite" viewBox="0 0 24 24">
    <path d="M22.9,9.1C21.3,15.2,12,22.7,12,22.7S2.7,15.2,1.1,9.1 C1,8.6,0.9,8,0.9,7.4c0-3.4,2.7-6.1,5.9-6.1c2.5,0,4.4,1.6,5.2,3.8c0,0,0,0,0,0s0,0,0,0c0.8-2.2,2.7-3.8,5.2-3.8 c3.3,0,5.9,2.7,5.9,6.1C23.1,8,23,8.6,22.9,9.1z"></path>
  </symbol>
  <symbol id="floating-delete" viewBox="0 0 20 20">
    <path d="M10,20L10,20C4.5,20,0,15.5,0,10v0C0,4.5,4.5,0,10,0h0c5.5,0,10,4.5,10,10v0C20,15.5,15.5,20,10,20z"></path>
    <polygon fill="currentColor" points="14.4,4.4 10,8.8 5.6,4.4 4,6 8.4,10.4 4,14.8 5.6,16.4 10,12 14.4,16.4 16,14.8 11.6,10.4 16,6"></polygon>
  </symbol>
  <symbol id="grid-view" viewBox="0 0 16 16">
    <path d="M0,7h7V0H0V7z M9,0v7h7V0H9z M0,16h7V9H0V16z M9,16h7V9H9V16z"></path>
  </symbol>
  <symbol id="help" viewBox="0 0 22 22">
    <path d="M11,22C4.9,22,0,17.1,0,11S4.9,0,11,0c6.1,0,11,4.9,11,11S17.1,22,11,22z M11,2c-5,0-9,4-9,9c0,5,4,9,9,9 s9-4,9-9C20,6,16,2,11,2z"></path>
    <path d="M8.9,6.4c0.5-0.3,1.2-0.5,2-0.5c1,0,1.9,0.2,2.6,0.7c0.7,0.5,1,1.2,1,2.2c0,0.6-0.1,1.1-0.4,1.5 c-0.2,0.2-0.5,0.6-1,0.9l-0.5,0.4c-0.3,0.2-0.4,0.4-0.5,0.7c-0.1,0.2-0.1,0.4-0.1,0.8h-1.9c0-0.8,0.1-1.3,0.2-1.6 c0.1-0.3,0.4-0.6,0.9-1l0.5-0.4c0.2-0.1,0.3-0.3,0.4-0.4c0.2-0.3,0.3-0.5,0.3-0.8c0-0.3-0.1-0.7-0.3-0.9c-0.2-0.3-0.6-0.4-1.1-0.4 c-0.5,0-0.9,0.2-1.1,0.5C9.6,8.4,9.5,8.8,9.5,9.2h-2C7.6,7.9,8,7,8.9,6.4z M10,14.1h2v2h-2V14.1z"></path>
  </symbol>
  <symbol id="like" viewBox="0 0 17 14.4">
    <path d="M0,14h4V6H0V14z M17,6.9c0-1-0.7-1.1-0.7-1.1h-4.9c0,0-0.3-0.4,0-1.3c0.3-0.9,0.3-2.2,0.1-2.8 C11.2,1.1,10.8,0,9.7,0C9.1,0.1,8.9,0.6,8.9,0.6v2.1c0,0-2,3.7-2.3,3.8c-0.3,0-1.4,0.2-1.4,0.2v6.6h0.3c0,0,2.4,1.2,2.8,1.2 c0.5,0,5.9,0,5.9,0s0.8-0.2,0.8-1.1c0-0.6-0.5-1-0.5-1s1.3-0.1,1.3-1.2c0-0.4-0.6-0.9-0.6-0.9S16.4,10,16.4,9 c-0.1-0.6-0.4-1-0.4-1S17,7.8,17,6.9z"></path>
  </symbol>
  <symbol id="link" viewBox="0 0 18 18">
    <path d="M6.696 6.598l5.196 3c.478.276.642.888.366 1.366-.276.478-.888.642-1.366.366l-5.196-3c-.48-.276-.642-.888-.366-1.366.276-.478.887-.642 1.366-.366zM2.598 7.696l3.464 2-1 1.732-3.464-2C.163 8.598-.33 6.765.5 5.33l1-1.732C2.328 2.163 4.163 1.67 5.598 2.5l3.464 2-1 1.732-3.464-2c-.157-.09-.33-.134-.498-.134-.346 0-.683.18-.868.5l-1 1.732c-.18.312-.14.61-.1.76.04.148.154.425.466.606zM15.99 8.5c1.435.83 1.927 2.663 1.098 4.098l-1 1.732c-.828 1.435-2.663 1.927-4.098 1.098l-3.464-2 1-1.732 3.464 2c.313.18.61.14.76.1.148-.04.426-.153.606-.465l1-1.732c.18-.312.14-.61.1-.76-.04-.148-.153-.425-.466-.606l-3.464-2 1-1.732 3.464 2z"></path>
  </symbol>
  <symbol id="list-view" viewBox="0 0 19 16">
    <path d="M5,10h14V6H5V10z M5,0v4h14V0H5z M5,16h14v-4H5V16z M0,10h3V6H0V10z M0,4h3V0H0V4z M0,16h3v-4H0V16z"></path>
  </symbol>
  <symbol id="location" viewBox="0 0 12.6 20.2">
    <path d="M6.3,0C6.3,0,0,0.1,0,7.5c0,3.8,6.3,12.6,6.3,12.6s6.3-8.8,6.3-12.7C12.6,0.1,6.3,0,6.3,0z M6.3,8.8 c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5c1.4,0,2.5,1.1,2.5,2.5C8.8,7.7,7.7,8.8,6.3,8.8z"></path>
  </symbol>
  <symbol id="mail" viewBox="0 0 20 14">
    <path d="M0,3v11h20V3L9.9,10L0,3z M20,0H0l10,7L20,0z"></path>
  </symbol>
  <symbol id="marker-filled" viewBox="0 0 12.6 20.2">
    <path d="M6.3,0C6.3,0,0,0.1,0,7.5c0,3.8,6.3,12.6,6.3,12.6s6.3-8.8,6.3-12.7C12.6,0.1,6.3,0,6.3,0z"></path>
  </symbol>
  <symbol id="menu" viewBox="0 0 19 16">
    <path d="M0,10h19V6H0V10z M0,0v4h19V0H0z M0,16h19v-4H0V16z"></path>
  </symbol>
  <symbol id="notes" viewBox="0 0 16 19">
    <path d="M8,0H0v19h16V8H8V0z M10,0v6h6L10,0z"></path>
  </symbol>
  <symbol id="password" viewBox="0 0 17.7 22.1">
    <path d="M15.7,10c-0.3,0-0.4,0-0.4,0V6.5c0-4.2-2.9-6.5-6.4-6.5C5.4,0,2.2,2.4,2.3,6.5l0,3.5c0,0,0.1,0-0.2,0 C1.8,10,0,10.3,0,12v7.9c0,1.8,2.1,2.2,2.1,2.2c3.7,0,9.8,0,13.5,0c0,0,2-0.2,2-2.2v-7.8C17.7,10.2,15.8,10,15.7,10z M10.4,19H7.3 l0.7-3.2c-0.5-0.3-0.8-0.9-0.8-1.5c0-1,0.8-1.8,1.7-1.8c0.9,0,1.7,0.8,1.7,1.8c0,0.6-0.3,1.2-0.8,1.5L10.4,19z M5.3,10l0-3.4 c0-2.2,1.3-4,3.5-4c2.2,0,3.5,1.5,3.5,4l0,3.4H5.3z"></path>
  </symbol>
  <symbol id="pause" viewBox="0 0 18 18">
    <g fill-rule="evenodd">
      <polygon points="0 0 0 18 18 18 18 0"></polygon>
      <polygon fill="currentColor" points="9.86729858 5 12 5 12 13 9.86729858 13"></polygon>
      <polygon fill="currentColor" points="6 5 8.13270142 5 8.13270142 13 6 13"></polygon>
    </g>
  </symbol>
  <symbol id="play" viewBox="0 0 22 22">
    <polygon fill="currentColor" points="7,15.8 14.3,10.9 7,6 "></polygon>
    <path d="M0,0v22h22V0H0z M7,15.8V6l7.3,4.9L7,15.8z"></path>
  </symbol>
  <symbol id="print" viewBox="0 0 21 16">
    <path d="M17,0H5v2h12V0z M5,16h12v-6H5V16z M0,3v11h4V9h14v5h3V3H0z M19,6h-2V5h2V6z"></path>
  </symbol>
  <symbol id="rating" viewBox="0 0 20 20">
    <path d="M9.6,1.2l2.6,5.6l5.9,0.9L13.9,12l1,6.1l-5.3-2.9l-5.3,2.9l1-6.1L1.1,7.7L7,6.8L9.6,1.2z"></path>
  </symbol>
  <symbol id="remove-x" viewBox="0 0 17 29">
    <path d="M2 18h12V5H2v13zm8-2h2V7h-2v9zm-3 0h2V7H7v9zm-3 0V7h2v9H4zM6 0h4v2h5v2H1V2h5V0zm10.242 25.243h-12v3.242L0 24.243 4.242 20v3.242h12v2z"></path>
  </symbol>
  <symbol id="remove-y" viewBox="0 0 26 18">
    <path d="M5 0v2H0v2h14V2H9V0H5zM1 18h12V5H1v13zm8-2h2V7H9v9zm-3 0h2V7H6v9zm-3 0V7h2v9H3zM20.24 1.758h2.002v12h3.24L21.243 18 17 13.758h3.242v-12z"></path>
  </symbol>
  <symbol id="return" viewBox="0 0 15 12">
    <path d="M0,6l6,6V9c0,0,6-1.5,9,3c0-5-4-9-9-9V0L0,6z"></path>
  </symbol>
  <symbol id="search" viewBox="0 0 18 18">
    <path d="M17.8,16.3c0.2,0.2,0.2,0.6,0,0.8l-0.8,0.8c-0.2,0.2-0.6,0.2-0.8,0 l-5.4-5.4c-0.1-0.1-0.1-0.1-0.1-0.2c-1.1,0.8-2.5,1.3-4,1.3C3,13.5,0,10.5,0,6.7C0,3,3,0,6.8,0c3.7,0,6.8,3,6.8,6.7 c0,1.5-0.5,2.9-1.3,4c0.1,0,0.1,0.1,0.2,0.1L17.8,16.3z M6.8,2.2c-2.5,0-4.5,2-4.5,4.5c0,2.5,2,4.5,4.5,4.5c2.5,0,4.5-2,4.5-4.5 C11.3,4.3,9.2,2.2,6.8,2.2z"></path>
  </symbol>
  <symbol id="settings" viewBox="0 0 21 21">
    <path d="M21,12V9h-2.1c-0.2-1.2-0.7-2.4-1.4-3.4L19,4.1L16.9,2l-1.5,1.5 c-1-0.7-2.1-1.2-3.4-1.4V0H9v2.1C7.8,2.4,6.6,2.8,5.6,3.5L4.1,2L2,4.1l1.5,1.5C2.8,6.6,2.4,7.8,2.1,9H0v3h2.1 c0.2,1.2,0.7,2.4,1.4,3.4L2,16.9L4.1,19l1.5-1.5c1,0.7,2.1,1.2,3.4,1.4V21h3v-2.1c1.2-0.2,2.4-0.7,3.4-1.4l1.5,1.5l2.1-2.1 l-1.5-1.5c0.7-1,1.2-2.1,1.4-3.4H21z M10.5,14C8.6,14,7,12.4,7,10.5S8.6,7,10.5,7S14,8.6,14,10.5S12.4,14,10.5,14z"></path>
  </symbol>
  <symbol id="tooltip" viewBox="0 0 22 22">
    <path d="M11,22C4.9,22,0,17.1,0,11S4.9,0,11,0c6.1,0,11,4.9,11,11S17.1,22,11,22z M11,2c-5,0-9,4-9,9c0,5,4,9,9,9 s9-4,9-9C20,6,16,2,11,2z"></path>
    <path d="M 12.132 7.249 L 9.868 7.249 L 9.868 5.187 L 12.132 5.187 L 12.132 7.249 Z M 9.868 8.268 L 12.132 8.268 L 12.132 16.813 L 9.868 16.813 L 9.868 8.268 Z"></path>
  </symbol>
  <symbol id="user" viewBox="0 0 21 17">
    <path d="M21,15.4c0-0.8-0.3-1.3-1.1-1.6v0l-6.3-2.6h0c0-0.5-0.5-1-1-1V9.8c0.7-0.6,1.2-1.5,1.5-2.6 C14.5,7,14.7,6.5,14.7,6c0-0.3-0.1-0.6-0.2-0.8c0.1-0.4,0.2-0.8,0.2-1.2c0-2.2-1.9-4-4.2-4S6.3,1.8,6.3,4c0,0.4,0.1,0.8,0.2,1.2 C6.4,5.4,6.3,5.7,6.3,6c0,0.5,0.2,1,0.6,1.2c0.3,1.1,0.8,2,1.5,2.6v0.3c-0.6,0-1.1,0.4-1.1,1l-6.3,2.6C0.4,14.1,0,14.6,0,15.4 c0,0,0,0,0,0c0,0,0,0,0,0V16c0,0.5,0.5,1,1.1,1h0.7h17.5H20c0.6,0,1.1-0.4,1.1-1V15.4C21,15.4,21,15.4,21,15.4 C21,15.4,21,15.4,21,15.4z"></path>
  </symbol>
  <symbol id="website" viewBox="0 0 24.7 24.7">
    <path d="M12.3,0C5.5,0,0,5.5,0,12.3c0,6.8,5.5,12.3,12.3,12.3c6.8,0,12.3-5.5,12.3-12.3C24.7,5.5,19.2,0,12.3,0z M13.9,17v-3.1c0,0-6.2-1.5-9.3,3.1c0-5.1,4.1-9.3,9.3-9.3V4.6l6.2,6.2L13.9,17z"></path>
  </symbol>
  <symbol id="zoom" viewBox="0 0 18 18">
    <path d="M17.8,16.3c0.2,0.2,0.2,0.6,0,0.8l-0.8,0.8c-0.2,0.2-0.6,0.2-0.8,0 l-5.4-5.4c-0.1-0.1-0.1-0.1-0.1-0.2c-1.1,0.8-2.5,1.3-4,1.3C3,13.5,0,10.5,0,6.7C0,3,3,0,6.8,0c3.7,0,6.8,3,6.8,6.7 c0,1.5-0.5,2.9-1.3,4c0.1,0,0.1,0.1,0.2,0.1L17.8,16.3z M6.8,2.2c-2.5,0-4.5,2-4.5,4.5c0,2.5,2,4.5,4.5,4.5c2.5,0,4.5-2,4.5-4.5 C11.3,4.3,9.2,2.2,6.8,2.2z"></path>
  </symbol>
  <symbol id="arrow" viewBox="0 0 12 12">
    <path d="M11.932 4.19l-5.74 5.72c-.12.12-.24.12-.362 0L.09 4.19c-.12-.12-.12-.24 0-.36l1.748-1.74c.12-.12.24-.12.36 0l3.813 3.813L9.825 2.09c.12-.12.24-.12.36 0l1.748 1.74c.045.065.068.123.068.178 0 .057-.023.117-.068.18z"></path>
  </symbol>
  <symbol id="credit-card-amex" viewBox="0 0 122 84">
    <title>Credit Card/American Express</title>
    <path fill-rule="evenodd" d="M0 47h122v14H0zM0-1h36v30H0z"></path>
    <text font-size="20" fill="currentColor" transform="translate(1)">
      <tspan x="71" y="45">1234</tspan>
    </text>
  </symbol>
  <symbol id="credit-card-labeler" viewBox="211 1549 18 15">
    <path d="M212.5 1551.5h7.07M212.5 1561.5h7.07M219.5 1556.5h8.07M219.5 1551.5v10" stroke="currentColor" stroke-linecap="square" fill="currentColor"></path>
  </symbol>
  <symbol id="credit-card" viewBox="-1 0 122 84">
    <title>Credit Card/Visa &amp; Mastercard</title>
    <path fill-rule="evenodd" d="M-1 38h80v14H-1zM-1 8h122v24H-1z"></path>
    <text font-size="20" fill="currentColor">
      <tspan x="81" y="53">123</tspan>
    </text>
  </symbol>
  <symbol id="expand-collapse" viewBox="0 0 13 8">
    <path d="M13,2c0,0.1,0,0.1-0.1,0.2L6.7,7.9C6.6,8,6.4,8,6.3,7.9L0.1,2.2C0,2.1,0,1.9,0.1,1.8L2,0.1 C2.1,0,2.2,0,2.4,0.1l4.1,3.8l4.1-3.8C10.8,0,10.9,0,11,0.1l1.9,1.7C13,1.9,13,1.9,13,2z"></path>
  </symbol>
  <symbol id="filetype" viewBox="0 0 52 60">
    <path d="M0 0h25.65v25.83h25.913V60H0V0zm29.063 0l22.5 21.563h-22.5V0z"></path>
  </symbol>
  <symbol id="gallery-arrow" viewBox="0 0 45 24">
    <path d="M45,2c0,0.1,0,0.1-0.1,0.2L22.7,23.9c-0.1,0.1-0.3,0.1-0.4,0L0.1,2.2C0,2.1,0,1.9,0.1,1.8L2,0.1 C2.1,0,2.2,0,2.4,0.1l20.1,19.8L42.6,0.1C42.8,0,42.9,0,43,0.1l1.9,1.7C45,1.9,45,1.9,45,2z"></path>
  </symbol>
  <symbol id="promo-link-icon" viewBox="83 6 10 19">
    <path d="M86.19 9.568l5.72 5.74c.12.12.12.24 0 .362l-5.72 5.74c-.12.12-.24.12-.36 0l-1.74-1.748c-.12-.12-.12-.24 0-.36l3.813-3.813-3.814-3.814c-.12-.12-.12-.24 0-.36l1.74-1.748c.065-.045.123-.068.178-.068.057 0 .117.023.18.068z" fill-rule="evenodd"></path>
  </symbol>
  <symbol id="scroll-icon" viewBox="0 0 45 24">
    <path d="M45,2c0,0.1,0,0.1-0.1,0.2L22.7,23.9c-0.1,0.1-0.3,0.1-0.4,0L0.1,2.2C0,2.1,0,1.9,0.1,1.8L2,0.1 C2.1,0,2.2,0,2.4,0.1l20.1,19.8L42.6,0.1C42.8,0,42.9,0,43,0.1l1.9,1.7C45,1.9,45,1.9,45,2z"></path>
  </symbol>
  <symbol id="sort-arrow" viewBox="0 0 13 5.9">
    <path d="M6.7,5.8C6.5,6,6.4,6,6.3,5.8L0,0h13L6.7,5.8z"></path>
  </symbol>
  <symbol id="stock-high" viewBox="0 0 7.7 22">
    <rect x="0" y="15.4" width="7.7" height="6.6"></rect>
    <rect x="0" y="0" width="7.7" height="7"></rect>
    <rect x="0" y="8" width="7.7" height="6.4"></rect>
  </symbol>
  <symbol id="stock-low" viewBox="0 0 7.7 22">
    <path d="M0,0v22h7.7V0H0z M6.7,1v6H1V1H6.7z M1,14.4V8h5.7v6.4H1z"></path>
  </symbol>
  <symbol id="stock-medium" viewBox="0 0 7.7 22">
    <rect x="0" y="15.4" width="7.7" height="6.6"></rect>
    <path d="M7.7,0H0v14.4h7.7V0z M1,7V1h5.7v6H1z"></path>
  </symbol>
  <symbol id="facebook" viewBox="0 0 20 20">
    <path d="M10,1c5,0,9,4,9,9 c0,5-4,9-9,9c-5,0-9-4-9-9C1,5,5,1,10,1z"></path>
    <path fill="currentColor" stroke-width="0px" d="M11.8,10l-1.3,0l0,4.8H8.7V10H7.5V8.3l1.2,0l0-1c0-1.3,0.4-2.2,2-2.2H12v1.7h-0.8c-0.6,0-0.6,0.2-0.6,0.7 l0,0.8H12L11.8,10z"></path>
  </symbol>
  <symbol id="instagram" viewBox="-1 -1 20 20">
    <circle cx="9" cy="9" r="9"></circle>
    <rect stroke="currentColor" width="9" height="9" x="4.473" y="4.623" rx="2.5"></rect>
    <circle stroke="currentColor" cx="9" cy="9.158" r="1.847" stroke-width=".9"></circle>
    <circle stroke="currentColor" cx="11.385" cy="6.75" r=".300"></circle>
  </symbol>
  <symbol id="linkedin" viewBox="0 0 20 20">
    <path d="M10,1c5,0,9,4,9,9 c0,5-4,9-9,9c-5,0-9-4-9-9C1,5,5,1,10,1z"></path>
    <path fill="currentColor" stroke-width="0px" d="M7.2,14.3h-2v-7h2V14.3z M6.3,6.9C5.8,6.9,5.4,6.5,5.4,6C5.4,5.4,5.8,5,6.3,5C6.8,5,7.2,5.4,7.2,6 C7.2,6.5,6.8,6.9,6.3,6.9z M14.2,14.3h-2V10c0-0.5-0.1-0.9-0.8-0.9c-1,0-1.2,0.9-1.2,0.9v4.3h-2v-7h2V8c0.3-0.2,1-0.7,2-0.7 c0.6,0,2,0.4,2,2.7V14.3z"></path>
  </symbol>
  <symbol id="twitter" viewBox="0 0 18 18">
    <circle cx="9" cy="9" r="7.875" stroke-width=".9"></circle>
    <path d="m5.023 5.003 3.11 4.103-3.13 3.335h.704l2.74-2.92 2.214 2.92h2.396L9.773 8.108l2.912-3.105h-.704l-2.523 2.69-2.039-2.69H5.023Zm1.035.512H7.16l4.862 6.414h-1.1L6.058 5.515Z" stroke="currentColor"></path>
  </symbol>
  <symbol fill="none" viewBox="0 0 20 20" id="fax">
    <path d="M3.92 6.182c0-.703.573-1.273 1.28-1.273h.64c.707 0 1.28.57 1.28 1.273v7.636c0 .703-.573 1.273-1.28 1.273H5.2c-.707 0-1.28-.57-1.28-1.273V6.182Z" fill="#525257"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M2 8.09c0-.702.573-1.272 1.28-1.272v8.273c0 .351.287.636.64.636h3.2c.353 0 .64-.285.64-.636V6.818h8.96c.707 0 1.28.57 1.28 1.273v7.636C18 16.43 17.427 17 16.72 17H3.28C2.573 17 2 16.43 2 15.727V8.091Zm8.32 2.546c.354 0 .64-.284.64-.636a.638.638 0 0 0-.64-.636.638.638 0 0 0-.64.636c0 .351.287.636.64.636Zm.64 1.273a.638.638 0 0 1-.64.636.638.638 0 0 1-.64-.636c0-.351.287-.636.64-.636.354 0 .64.285.64.636Zm-.64 2.545c.354 0 .64-.284.64-.636a.638.638 0 0 0-.64-.636.638.638 0 0 0-.64.636c0 .352.287.636.64.636ZM13.52 10a.638.638 0 0 1-.64.636.638.638 0 0 1-.64-.636c0-.351.287-.636.64-.636.353 0 .64.285.64.636Zm-.64 2.546c.353 0 .64-.285.64-.637a.638.638 0 0 0-.64-.636.638.638 0 0 0-.64.636c0 .351.287.636.64.636Zm.64 1.272a.638.638 0 0 1-.64.636.638.638 0 0 1-.64-.636c0-.351.287-.636.64-.636.353 0 .64.285.64.636Zm1.92-3.182c.354 0 .64-.284.64-.636a.638.638 0 0 0-.64-.636.638.638 0 0 0-.64.636c0 .351.286.636.64.636Zm.64 1.273a.638.638 0 0 1-.64.636.638.638 0 0 1-.64-.636c0-.351.286-.636.64-.636.354 0 .64.285.64.636Zm-.64 2.545c.354 0 .64-.284.64-.636a.638.638 0 0 0-.64-.636.638.638 0 0 0-.64.636c0 .352.286.636.64.636Z" fill="#525257"></path>
    <path d="M8.4 3.636c0-.351.287-.636.64-.636h4.48v1.91h2.56v1.272H8.4V3.636Z" fill="#525257"></path>
    <path d="m13.84 3 .96.636 1.28.955h-2.24V3Z" fill="currentColor"></path>
  </symbol>
  <symbol id="youtube" viewBox="0 0 20 20">
    <path d="M10,1c5,0,9,4,9,9 c0,5-4,9-9,9c-5,0-9-4-9-9C1,5,5,1,10,1z"></path>
    <path fill="currentColor" stroke-width="0px" d="M14.9,8.1c-0.1-0.7-0.5-1.5-1.3-1.5c-2.3-0.2-5-0.2-7.3,0c-0.7,0.1-1.2,1-1.3,1.6C5,9.6,5,10.4,5.1,11.8 c0.1,0.7,0.5,1.5,1.3,1.6c2.3,0.2,5,0.2,7.3,0c0.7-0.1,1.2-1,1.3-1.6C15,10.4,15,9.5,14.9,8.1z M9,12V8l3,2L9,12z"></path>
  </symbol>
  <symbol id="pinterest" viewBox="0 0 20 20">
    <path d="M10,1c5,0,9,4,9,9 c0,5-4,9-9,9c-5,0-9-4-9-9C1,5,5,1,10,1z"></path>
    <path fill="currentColor" transform="translate(5, 5), scale(0.5)" stroke-width="0px" d="M17.7,5.8c-0.5-2.9-2.9-5.1-5.9-5.6c-0.2,0-0.5-0.1-0.8-0.1c-0.2,0-0.5,0-0.7,0C9.9,0,9.5,0,9,0.1	c-0.2,0-0.4,0.1-0.6,0.1C8.1,0.2,7.8,0.3,7.5,0.4c-3.5,1-5.3,3.9-5.3,7c0,1.8,1,4,2.5,4.8C4.9,12.3,5,12.2,5.1,12	c0-0.2,0.2-1,0.3-1.4c0-0.1,0-0.2,0-0.2c0,0,0-0.1-0.1-0.1C4.8,9.7,4.4,8.5,4.4,7.5c0-1.5,0.7-3,1.8-4c0,0,0,0,0.1,0	C7.2,2.6,8.5,2.2,10,2.2c2.6,0,4.5,1.5,5,3.7c0.1,0.4,0.2,0.8,0.2,1.3c0,3.3-1.7,5.6-3.8,5.6c-1.2,0-2.1-1-1.8-2.2	c0-0.1,0.1-0.3,0.1-0.4c0.3-1,0.6-2.1,0.8-2.9c0.1-0.3,0.1-0.5,0.1-0.8c0-0.9-0.5-1.7-1.6-1.7c-1.2,0-2.2,1.3-2.2,3	c0,0.2,0,0.5,0,0.7c0,0,0,0,0,0C6.8,9.1,7,9.5,7,9.5s-0.2,0.8-0.5,1.9c0,0.1,0,0.2-0.1,0.2c-0.3,1.4-0.7,3.1-0.9,3.8 c0,0,0,0.1,0,0.1c-0.1,0.4-0.1,0.9-0.1,1.4C5.4,18,5.4,19,5.5,20c0.1,0,0.1-0.1,0.2-0.1C6.2,19.5,6.7,19,7,18.4	c0.3-0.5,0.5-1.1,0.8-1.7c0,0,0-0.1,0-0.1c0-0.1,0.1-0.3,0.1-0.4c0.1-0.3,0.3-1,0.5-1.7c0,0,0,0,0-0.1c0.2-0.6,0.3-1.2,0.3-1.2	c0.4,0.8,1.6,1.4,2.8,1.4c3.7,0,6.4-3.4,6.4-7.6C17.8,6.6,17.8,6.2,17.7,5.8z"></path>
  </symbol>
</svg>
</div>

<footer id="global-trimarkusa-footer">
      <div class="footer-top">
        <div class="footer-top-body">
          <div class="contact-banner">
            <div class="logo">
              <a href="https://shop.trimarketplace.com/login" aria-label="TriMark Home">
                 <img width="170" src="https://qa.trimarkusa.com/hs-fs/hubfs/raw_assets/public/TriMarkUSA-PROD/images/logos/trimark_logo.png" alt="TriMark">  
              </a>
            </div>
             <a href="tel:8882885346" class="phone">
             <i class="fa fa-phone"></i> (888) 288-5346
            </a>
             <div class="email"><i class="fa fa-envelope"></i>
               <a href="mailto:trimarketplacesupport@trimarkusa.com">trimarketplacesupport@trimarkusa.com</a>
            </div>
             <nav class="social">
               <ul>
                  <li class="social-icon">
                   <a href="https://www.facebook.com/TrimarkUSA" class="social-media-link" aria-label="link facebook" target="_new">
      <svg class="icon facebook">
        <use xlink:href="#facebook"></use>
      </svg>
    </a>
                   </li>
                  <li class="social-icon">
                      <a href="https://twitter.com/TriMarkUSA" class="social-media-link" aria-label="link twitter" target="_new">
      <svg class="icon twitter">
        <use xlink:href="#twitter"></use>
      </svg>
    </a>
                   
                 </li>
                   <li class="social-icon">
                    <a href=" http://linkedin.com/company/trimarkusa/" class="social-media-link" aria-label="link linkedin" target="_new">
      <svg class="icon linkedin">
        <use xlink:href="#linkedin"></use>
      </svg>
    </a>
                    
                 </li>
                   <li class="social-icon"> 
                    <a href="https://www.youtube.com/channel/UC-_N3m1fOpMpdFTldZyKMvA" class="social-media-link" aria-label="link youtube" target="_new">
      <svg class="icon youtube">
        <use xlink:href="#youtube"></use>
      </svg>
    </a>
                   
           
                   </li><li class="social-icon">
                     <a href="https://www.instagram.com/trimarkusa/" class="social-media-link" aria-label="link instagram" target="_new">
      <svg class="icon instagram">
        <use xlink:href="#instagram"></use>
      </svg>
    </a>
                     
                 </li>
                  <li class="social-icon">
                    <a href="https://www.pinterest.com/TriMarkUSA/" class="social-media-link" aria-label="link pinterest" target="_new">
      <svg class="icon pinterest">
        <use xlink:href="#pinterest"></use>
      </svg>
    </a>
            
                 </li>
                 
                 
               </ul>
         
            </nav>
          </div>
          <div class="link-wrapper">
            <div class="link-columns">
              
             
              <nav class="link-column">
                
                <p class="column-head">
                 Company
                </p>
                
                
                  <ul>
                    
                     <li class="link">
                       <a href="https://shop.trimarketplace.com/about-us" target="_blank">
                          About Us
                       </a>
                       
                    </li>
                    
                     <li class="link">
                       <a href="https://cdn.trimarkusa.com/assets/brand_pages/TMK_Warehouse.pdf" target="_blank">Locations<svg class="icon external-link" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></a>
                       
                    </li>
                    
                   
                    
                     
                    
                     <li class="link">
                       <a href="https://support.trimarketplace.com/en/knowledge" target="_blank">FAQs<svg class="icon external-link" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></a>
                       
                    </li>
                    
                  </ul>
                
              </nav>
              
             
              <nav class="link-column">
                
                <p class="column-head">
                 Legal
                </p>
                  <ul>
                  <li class="link">
                       <a href="https://shop.trimarketplace.com/terms-use" target="_blank">
                          Terms of Use
                       </a>
                    </li>
                    <li class="link">
                       <a href="https://cdn.trimarkusa.com/assets/brand_pages/TriMark-Code-of-Business-Ethics-and-Conduct.pdf" target="_blank">Code of Business Ethics and Conduct<svg class="icon external-link" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></a>
                    </li>
    
                    <li class="link">
                       <a href="https://shop.trimarketplace.com/privacy-policy" target="_blank">
                          Privacy Policy
                       </a>
                    </li>
                     <li class="link">
                       <a href="https://shop.trimarketplace.com/ca-privacy" target="_blank">
                          California Privacy Notice
                       </a>
                    </li>
                    <li class="link">
                       <a href="https://share.hsforms.com/1RBt11_loTpOgohP2SdzKxQ5ltn6" target="_blank">Do Not Sell My Personal Information<svg class="icon external-link" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></a>
                    </li>
                     <li class="link">
                       <a href="https://cdn.trimarkusa.com/assets/brand_pages/TriMark-Terms-and-Conditions-of-Sale.pdf" target="_blank">Terms of Sale<svg class="icon external-link" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></a>
                    </li>
                    <li class="link">
                      <a href="https://shop.trimarketplace.com/return-policy" target="_blank">
                          Return Policy
                       </a>
                    </li>
                    <li class="link">
                       <a href="https://cdn.trimarkusa.com/assets/brand_pages/TriMark_Trademarks.pdf" target="_blank">TriMark USA Trademarks<svg class="icon external-link" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></a>
                    </li>
                    <li class="link">
                       <a href="https://cdn.trimarkusa.com/assets/brand_pages/Supplier-Code-of-Conduct.pdf" target="_blank">Supplier Code of Conduct<svg class="icon external-link" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external-link"></use></svg></a>
                    </li>
                  </ul>
              </nav> 
            </div>
           
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom-wrapper">
          <address class="address">
            TriMark USA, LLC, 9 Hampshire Street, Mansfield, MA 02048
          </address>
          <p class="copyright">
            Copyright © 2025, All Rights Reserved
          </p>
        </div>
      </div>
    </footer>


{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
